<h1>LandingPage#home</h1>
<p>Find me in app/views/landing_page/home.html.erb</p>

<%= form_tag({controller: "games", action: "show"}, method: "get") do %>
  <%= search_field_tag 'game', 'Search games here' %>
  <%= submit_tag %>
<% end %>
